* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;;    
    background-color: whitesmoke;
    overflow-x: hidden;
}

.main-container{
  position: relative;
  width: 100%;
}

.sidenav {
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: hidden;
    font-weight: bold;
    overflow: hidden;
  }
  
  .sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidenav a.home {
    background-color: #fff;
    color: black;
    margin-right: 20px;
    border-radius: 0 25px 25px 0;
  }
  
  .sidenav a:hover:not(.home) {
    background-color: #fff;
    color: black;
    margin-right: 20px;
    border-radius: 0 25px 25px 0;
  }

  .sidenav h1{
      color: #fff;
      text-align: center;
      padding-top: 10px;
  }

  .container {
    position: absolute;
    width: calc(100% - 200px);
    left: 200px;
  }
  
  .container .topper {
    width: 100%;
    height: 3rem;
    padding: 0 2.5rem;
    overflow: hidden;
    text-align: center;
  }

  .container .topper i {
    float: right;
    color: black;
    padding: 14px ;
    text-decoration: none;
    font-size: 40px;
  }

  .card-container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .card-container .card {
    position: relative;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.cardName{
  font-weight: bold;
}

.numbers{
  font-weight: bold;
}

.search {
  position: relative;
  width: 300px;
  margin: auto;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 30px;
    border-radius: none;
    padding: 5px 20px;
    border: 1px solid gray;
    outline: none;
    color: black;
    background: white;
}

  table{
    width: 100%;
    overflow-x: hidden;
    border-collapse: collapse;
  }

  tr:nth-of-type(even){
    background-color: rgba(102, 51, 153, 0.3);
  }

  thead {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 15px; 
    font-weight: bold; 
  }

  tr{
    text-align: center;
    border-bottom: 1px solid;
    cursor: pointer;
  }
  
  td{
    padding: 10px 0px 10px 0px;  
  }

  #nameItem{
    width: 20%;
  }

  #describeItem{
    width: 25%;
  }

  #categoryItem{
    width: 15%;
  }

  #quantityItem{
    width: 13%;
  }

  #labelItem{
    width: 17%;
  }

  #updateDelete{
    width: 10%;
  }

  .add-item{
      margin-top: 30px;
      margin-left: 300px;
      height: 50%; 
      width: 50%;
      padding: 10px 30px 20px 30px;
      text-align: left;
      display: flex;
      flex-direction: column; 
      border: 1px solid;
  }

    .add-item h2{
      text-align: center;
    }

    label {
      font-weight: bold;
      margin: 0.5rem 0;
      color: #464646;
    }
    
    input {
      font: inherit;
      border: 1px solid #ccc;
      padding: 0.4rem 0.2rem;
      color: #383838;
      border-radius: 5px;
      padding: 5px;
      width: 70%;
    }

    ::placeholder{
      font-size: medium;
    }

    textarea {
      font: inherit;
      border: 1px solid #ccc;
      padding: 0.4rem 0.2rem;
      color: #383838;
      border-radius: 5px;
      padding: 5px;
    }

    input:focus, textarea:focus {
      outline: none;
      background: #ecf5ff;
    }

    input:focus::placeholder {
      color: transparent;
    }

    .add_button {
      font: inherit;
      padding: 0.5rem 1.5rem;
      border: 1px solid;
      background: #f6228c;
      color: black;
      border-radius: 6px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
      cursor: pointer;
      margin: 0 0.5rem;   
      width: 30%; 
      font-weight: bold;
    }

    .add_button:hover{
      background: yellow;
      border-color: black;
    }

    


    
  
