body{
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;;    background-color: whitesmoke;
}

.sidenav {
    margin-left: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: hidden;
    font-weight: bold;
    overflow: hidden;
  }
  
  .sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidenav a.home {
    background-color: #fff;
    color: black;
    margin-right: 20px;
    border-radius: 0 25px 25px 0;
  }
  
  .sidenav a:hover:not(.home) {
    background-color: #fff;
    color: black;
    margin-right: 20px;
    border-radius: 0 25px 25px 0;
  }

  @media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }

  .sidenav h2{
      color: #fff;
      text-align: center;
  }

  .topper {
    width: 80%;
    margin-left: 200px;
    height: 3rem;
    padding: 0 2.5rem;
    overflow: hidden;
    text-align: center;
  }

  .topper i {
    float: right;
    color: black;
    padding: 14px ;
    text-decoration: none;
    font-size: 40px;
  }

  .card {
    background: white;
    border-radius: 10px;
    position: relative;
    left: 35%;
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    margin: 2rem auto;
    text-align: center;
    
  }
  
  #entry-text {
    width: 10rem;
    padding: 1rem;
  }
  
  #entry-text1 {
    width: 10rem;
    padding: 1rem;
  }

  #entry-text2 {
    width: 10rem;
    padding: 1rem;
  }

  .card p {
    font-size: 1.5rem;
    text-align: center;
  }

  .container{
    margin-left: 205px;
  }

  table{
    width: 100%;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td{
    padding: 10px;
  }

